{# Copyright (c) 2018 Tildes contributors <code@tildes.net> #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% from 'macros/datetime.jinja2' import adaptive_date_responsive %}
{% from 'macros/links.jinja2' import link_to_user %}

{% macro render_message(message) %}
  {% if message.sender == request.user %}
    <article class="message is-message-mine">
  {% else %}
    <article class="message">
  {% endif %}

    <header>
      {{ link_to_user(message.sender) }}
      {{ adaptive_date_responsive(message.created_time) }}
    </header>

    <div class="message-text"
      {% if request.user and request.user.open_new_tab_text %}
      data-js-external-links-new-tabs
      {% endif %}
    >{{ message.rendered_html|safe }}</div>
  </article>
{% endmacro %}
